<div class="container">
<div *ngIf="user">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{user.name}}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail github-avatar" src="{{user.avatar_url}}">
        </div>
        <div class="col-md-8">
          <div class="stats">
            <span class="label label-default">{{user.public_repos}} Public Repos</span>
            <span class="label label-warning">{{user.public_gists}} Public Gists</span>
            <span class="label label-info">{{user.followers}} Followers</span>
            <span class="label label-danger">{{user.following}} Following</span>
          </div>
          <br>
          <ul class="list-group">
            <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
            <li class="list-group-item"><strong>Blog: </strong><a href="{{user.blog}}">blog</a></li>
            <li class="list-group-item"><strong>Membro desde: </strong>{{user.created_at}}</li>
            <li class="list-group-item"><strong>Cidade: </strong>{{user.location}}</li>
          </ul>
          <div class="well"><strong>Bio: </strong>{{user.bio}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
